.payment-method {

    div.ant-radio-group {
        display: flex;
        flex-direction: column;
        gap: 10px;

        div.method--item {
            background-color: #f5f5f5 ;
            border: 1px solid #f5f5f5;
            border-radius: 12px;
    
            padding: 10px 15px;

            &:hover {
                border: 1px solid #dbdbdb;
            }

            &.selected {
                border: 1px solid black;
            }
    
            label.ant-radio-wrapper {
                width: 100%;
                align-items: center;
                gap: 5px;
    
                & span.ant-radio-inner {
                    width: 20px;
                    height: 20px;
                }
    
                .method--title {
                    display: flex;
                    flex-direction: row;
                    gap: 15px;
                    align-items: center;
    
                    & span.ant-typography {
                        font-family: Poppins, sans-serif;
                        font-weight: 400;
                        font-size: 18px;
                    }
                }
            }
        }
    }

}