.coverimages-container {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;

    & .coverimages-list {
        &__item {
            opacity: 1;
            transition: opacity 0.3s ease;

            &:hover {
                opacity: 0.8;
            }
        }
        
    }
}