@use "../../../../../SCSS/" as *;

.filter-by-category {
  & h4 {
    font-family: "josefin sans", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 1.5rem;
    letter-spacing: 0.07rem;
  }

  &__item {
    padding: 6px 0px;
    color: $color--gray;

    &:hover {
      color: $color--gray-hover;
    }
  }
}
